---
import { Icon } from 'astro-icon/components';
---

<div class="w-full pb-10">
    <div class="adjustSize flex items-center justify-between lg:gap-3 text-md font-medium transition-all duration-200 px-5">
        <div href="/" class="cursor-pointer bg-accent rounded-lg transition text-white/50 hover:text-white/90 drop-shadow-[0_15px_35px_rgba(255,255,255,0.25)] hover:drop-shadow-[0_15px_40px_rgba(255,255,255,0.4)]">
            <Icon name="ph:planet-bold" class="w-6 h-6 p-3 !duration-300"/>
        </div>
        <div class="gap-1 lg:gap-3 child:flex child:items-center child:gap-2 child:transition child:text-white/50 child-hover:text-white/90">
            <a href="https://github.com/d4vss" target="_blank">GitHub</a>
        </div>
    </div>
</div>