.ASP { background-color: #6a40fd; }
.Astro { background-color: #ff5a03;}
.AspectJ { background-color: #a957b0; }
.Assembly { background-color: #6E4C13; }
.ATS { background-color: #1ac620; }
.AutoHotkey { background-color: #6594b9; }
.C-Sharp { background-color: #178600; }
.C { background-color: #555555; }
.cpp { background-color: #f34b7d; }
.CSS { background-color: #563d7c; }
.Dart { background-color: #00B4AB; }
.Elixir { background-color: #6e4a7e; }
.Go { background-color: #375eab; }
.HTML { background-color: #e44b23; }
.Java { background-color: #b07219; }
.JavaScript { background-color: #f1e05a; }
.JSONiq { background-color: #40d47e; }
.Kotlin { background-color: #F18E33; }
.Lua { background-color: #000080; }
.Objective-C { background-color: #438eff; }
.Objective-Cpp { background-color: #6866fb; }
.Objective-J { background-color: #ff0c5a; }
.PHP { background-color: #4F5D95; }
.PLSQL { background-color: #dad8d8; }
.Python { background-color: #3572A5; }
.Ruby { background-color: #701516; }
.Rust { background-color: #dea584; }
.Swift { background-color: #ffac45; }
.TypeScript { background-color: #2b7489; }
.Unity3D-Asset { background-color: #ab69a1; }
.UnrealScript { background-color: #a54c4d; }
.Vue { background-color: #41b883; }
