@import './base.css';
@import './projects.css';

#app {
  max-width: 1380px;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
  min-height: 100vh;
}

@media (max-width: 1380px) {
  #app {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  #app {
    padding: 2rem;
  }

  .link {
    font-size: 15px;
    display: block;
    width: fit-content;
    margin-bottom: 1rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.5s ease;
}

a:hover {
  text-decoration: underline;
}

.panton {
  font-family: 'Panton', sans-serif;
}

.shadow {
  filter: drop-shadow(0 0 1rem var(--color-shadow));
}

.link {
  border: 2px solid var(--color-accent);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.5s ease;
}

.link:hover {
  background-color: var(--color-shadow-small);
  text-decoration: none;
}